*{
    margin: o;
    padding: 0;
}
body{
    background-color: aliceblue;
    background-size: 280%;
    background-position: -400px 0px;
}
div.n{
    width: 400px;
    margin: 100px auto 0 auto;

}
div.Registation{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}
form#rr{
    margin:  40px;

}
label{
    font-family: sans-serif;
    font-size: 18px;
}
input.bb{
    width: 300px;
    border: 2px;
    padding: 7px;
}

